#container{
    margin: 0 2vw;
    justify-content: space-around;
}

.spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

.hide-spinner {
    display: none !important;
}

#filter-text{
    padding: 2px;
}

#filter-selected{
    display: none;
    margin-left: 5px;
    font-weight: bold;
    background-color: #17a2b8;
    color: white;
    font-size: 9px;
    border-radius: 10px;
    padding: 4px;
}

#filter-badge{
    color: #17a2b8;
}

.card{
    width: 250px;
    cursor: pointer;
    margin: 0 2px;
}

.card img{
    width: 100%;
    height: 200px;
    object-fit:contain;
}

.card .text{
    font-weight: bold;
}

/* fixed number of lines */
.card h5{
    font-size: 20px;
    min-height: 2em;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

#pageNumber{
    width: 40px;
}

#close-categories{
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
    cursor: pointer;
}

.toggle-categories{
    display: none;
}

.cat-plus-btn{
    padding: 0.1rem;
    line-height: 1;
}

.cat-tree-row{
    width: 100%;
}

.cat-tree-section{
    margin-left: 5%;
}

/* Add CSS to control the categories-container's visibility */
@media (max-width: 992px) {
    #container{
        margin: 0;
    }
    .card{
        width: 180px;
        font-size: 80%;
    }
    .card h5{
        font-size: 14px;
    }
    .card img{
        height: 125px;
        object-fit:contain;
    }

    .toggle-categories{
        display: block;
    }
    #categories-container-main{
        display: none;
        position: fixed;
        top: 0;
        overflow-y: scroll;
        z-index: 100;
        background-color: rgb(33,37,41);
        width: 100vw;
        height: 100vh;
    }
    
    #categories-container{
        margin-top: 5vh;
    }

    #close-categories{
        display: block;
    }
    
}
