<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hibid Viewer</title>
    <link rel="icon" href={{ url_for('static', filename='hibid-tracker-logo.png' ) }} type="image/x-icon" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css" rel="stylesheet">

    <link rel="stylesheet" href={{ url_for('static', filename='styles.css' ) }}>
</head>

<body>
    <nav class="navbar" data-bs-theme="dark">
        <div class="container-fluid">
            <div class="row" style="width: 100%;">
                <div class="col-8 col-xl-8 col-md-6">
                    <a class="navbar-brand" href="#">Hibid Viewer</a>
                </div>
                <div class="col-4 col-xl-2 col-md-2">
                    <div class="d-flex justify-content-end align-items-center flex-nowrap pageNumberGroup">
                        <input type="number" id="pageNumber" placeholder="page number">/
                        <span id="totalPages">0</span>
                    </div>
                </div>
                <div class="col-12 col-xl-2 col-md-4 mt-2 mt-sm-0">
                    <form class="d-flex">
                        <input class="form-control me-2" type="search" placeholder="Search" id="searchQuery"
                            aria-label="Search">
                        <button class="btn btn-outline-success" type="submit" id="searchButton" onclick="performSearch(event)">Search</button>
                    </form>
                </div>
            </div>
        </div>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <div class="toggle-categories d-flex align-items-center">
                <button id="toggle-button" class="btn btn-outline-info d-flex align-items-center">
                    <span id="filter-text">Filter</span>
                    <!-- <span id="filter-badge" class="badge badge-info">
                        <i class="bi bi-funnel"></i>
                    </span> -->
                </button>
                <span id="filter-selected">none</span>
            </div>
            <div class="col col-md-2" id="categories-container-main">
                <div id="close-categories">X</div>
                <div id="categories-container"></div>
                <button id="save-filter" class="btn btn-info mt-3">save</button>
                <button id="clear-filter" class="btn btn-danger mt-3">clear</button>
            </div>
            <div class="col">
                <div id="spinner" class="spinner-container hide-spinner"> 
                    <div class="spinner-border text-secondary" role="status">
                    </div>
                </div>
                <div id="container" class="d-flex flex-wrap">
                </div>
            </div>
        </div>
    </div>
    

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src={{ url_for('static', filename='script.js' ) }}></script>
</body>

</html>